<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fitness.classmate">

	<uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".ClassmateApplication">

		<activity
			android:name="com.spotify.sdk.android.authentication.LoginActivity"
			android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <activity android:name="fitness.classmate.activity.ClassComponentBuilderActivity">

            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        </activity>

		<activity android:name=".activity.TestDrag">
			<!--<intent-filter>-->
				<!--<action android:name="android.intent.action.MAIN" />-->
				<!--<category android:name="android.intent.category.LAUNCHER" />-->
			<!--</intent-filter>-->
		</activity>

		<activity android:name=".activity.ClassEditorActivity"/>

		<activity android:name=".activity.ClassListActivity">
			<intent-filter>
			<action android:name="android.intent.action.MAIN" />
			<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".activity.SpotifyPlaylistActivity"/>

    </application>

</manifest>
